<div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="65%">
        <div>
            <p align="center">
                <b><span style='font-size:30.0pt;font-family:"Verdana",sans-serif;
color:#A981BE;text-transform:uppercase'>The only scalable  </span></b><br>
                <b><span style='font-size:30.0pt;font-family:"Verdana",sans-serif;
color:#A981BE;text-transform:uppercase'>forms workflow solution</span></b><br>
                <b><span style='font-size:30.0pt;font-family:"Verdana",sans-serif;
color:#A981BE;text-transform:uppercase'> for enterprises</span></b>

            </p>
        </div>
        <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
            <md-tab-group fxFlex="650px">
                <md-tab>
                    <template md-tab-label>
     <md-icon>favorite</md-icon> Admin-friendly controls
    </template>
                    <span>&nbsp;</span>
                    <md-card fxFlex="95%">
                        <md-card-title><span style='color:darkgoldenrod;'> Admin-friendly controls</span></md-card-title>

                        <md-card-content>
                            <p align=center>
                                With a simple admin interface, it’s easy to configure permissions and auto-provision new accounts. You can even move all users onto a single master account to simplify document management. That way, important documents won’t leave when their creators
                                do. </p>

                        </md-card-content>
                    </md-card>
                    <span>&nbsp;</span>

                </md-tab>
                <md-tab>
                    <template md-tab-label>
      <md-icon>lock</md-icon> Secure & reliable
    </template>
                    <span>&nbsp;</span>
                    <md-card fxFlex="95%">
                        <md-card-title><span style='color:darkgoldenrod;'> Secure & reliable</span></md-card-title>

                        <md-card-content>
                            <p align=center>
                                With options to limit sharing by domain and to require SSO authentication via Google, OneLogin, Okta, or Ping, admins don’t have to wonder about security. Meanwhile, all docs are stored and encrypted on servers with virtually no downtime. Questions or
                                concerns? Just contact your dedicated account manager. </p>

                        </md-card-content>
                    </md-card>
                    <span>&nbsp;</span>
                </md-tab>
                <md-tab>
                    <template md-tab-label>
      <md-icon>tag_faces</md-icon> Easy for everyone
    </template>
                    <span>&nbsp;</span>
                    <md-card fxFlex="95%">
                        <md-card-title><span style='color:darkgoldenrod;'> Easy for everyone</span></md-card-title>

                        <md-card-content>
                            <p align=center>
                                As the most powerful diagramming app on the web, Lucidchart has something for everyone. First time users can create mind maps or flowcharts in minutes with the simple drag-and-drop interface, while professionals can piece together intricate mockups or
                                network diagrams with similar ease—all in an affordable package that can be accessed from any device or OS.
                            </p>

                        </md-card-content>
                    </md-card>
                    <span>&nbsp;</span>
                </md-tab>
                <md-tab>
                    <template md-tab-label>
      <md-icon>public</md-icon> Works wherever you do
    </template>
                    <span>&nbsp;</span>
                    <md-card fxFlex="95%">
                        <md-card-title><span style='color:darkgoldenrod;'> Works wherever you do</span></md-card-title>

                        <md-card-content>
                            <p align=center>
                                Integrates with a wide variety of apps and platforms, making it easy to incorporate visuals into any workflow. Start by adding Lucidchart to your G Suite for Work domain and importing any existing MS Visio files. After that, explore add-ons for Slack,
                                Confluence, and JIRA, along with an iOS app.
                            </p>

                        </md-card-content>
                    </md-card>
                    <span>&nbsp;</span>

                </md-tab>
            </md-tab-group>
        </div>
    </div>
    <div fxFlex="35%" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlex="40%">
            <md-card>
                <md-card-title><span style='color:darkgoldenrod;'> Design your forms with Micorsoft Word similar editor</span></md-card-title>

                <md-card-content>
                    <p align=center>
                        Integrates with a wide variety of apps and platforms, making it easy to incorporate visuals into any workflow. Start by adding Lucidchart to your G Suite for Work domain and importing any existing MS Visio files. After that, explore add-ons for Slack,
                        Confluence, and JIRA, along with an iOS app.
                    </p>

                </md-card-content>
            </md-card>
        </div>
        <span>&nbsp;</span>
        <div fxFlex="40%">
            <md-card>
                <md-card-title><span style='color:darkgoldenrod;'> Setup forms workflow by click</span></md-card-title>

                <md-card-content>
                    <p align=center>
                        Integrates with a wide variety of apps and platforms, making it easy to incorporate visuals into any workflow. Start by adding Lucidchart to your G Suite for Work domain and importing any existing MS Visio files. After that, explore add-ons for Slack,
                        Confluence, and JIRA, along with an iOS app.
                    </p>

                </md-card-content>
            </md-card>

        </div>
    </div>

</div>