<div style="margin:4px;" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title style="color:darkblue" fxLayout="row" fxLayoutAlign="center"><span color="primary">Our Services</span></mat-card-title>
        <mat-card-content>
            <div>
                <button *ngFor="let t of categories" style="min-width:120px;margin: 5px; " color="primary" mat-raised-button (click)="goto(t.route)">
                    {{t.name}}
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>