<div fxLayout="column" fxLayoutAlign="center center">
    <h2 style='color:darkgoldenrod;'>Contests Management</h2>
    <md-tab-group>
        <md-tab label="Edit Contest">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <md-input-container>
                        <input mdInput required [(ngModel)]="title" name="title" placeholder="Title">
                    </md-input-container>
                    <!-- <md-input-container>
                        <input mdInput required [(ngModel)]="location" name="location" placeholder="Location">
                    </md-input-container> -->
                    <form ngNoForm>
                        <input id="file" name="file" type="file" (change)="upload()">
                        <!-- <button (click)="upload()" type="button">Upload</button> -->
                    </form>
                    <div style="overflow:hidden;">
                        <div style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
                            <img *ngIf="imagePath" [src]="imagePath" style="max-width:100px;max-height:100px;">
                        </div>
                    </div>
                    <md-input-container>
                        <textarea rows="2" cols="50" mdInput required [(ngModel)]="shortDes" name="shortDes" placeholder="Short Description"></textarea>
                    </md-input-container>
                    <div>
                        <md-input-container>
                            <input style="width:122px" mdInput type="date" [(ngModel)]="start" name="start" placeholder="Start Date">
                        </md-input-container>
                        <md-input-container>
                            <input style="width:122px" mdInput type="date" [(ngModel)]="end" name="end" placeholder="End Date">
                        </md-input-container>
                    </div>
                </div>
                <button *ngIf="title && contestFile && start && end" color="primary" md-raised-button (click)="save()">Send Contest</button>
            </div>
        </md-tab>
        <md-tab label="Preview">
            <div fxLayout="column" fxLayoutAlign="start center">
                <div style="width:500px;border:1px solid darkgray;">
                    <div fxLayout="row" fxLayoutAlign="space-around end">
                        <span style="font-size:25px">{{title}}</span>&nbsp;
                        <div fxLayout="row">
                            <span style="font-size:14px">{{location}} ({{store}})</span>&nbsp;
                            <!-- <md-icon color="accent" class="fa fa-heart fa-lg"></md-icon>&nbsp;
                          <md-icon color="primary" class="fa fa-share fa-lg"></md-icon> -->
                        </div>
                        <div fxLayout="row">
                            <span style="font-size:14px">From: {{start}}   To: {{end}}</span>&nbsp;
                            <!-- <md-icon color="accent" class="fa fa-heart fa-lg"></md-icon>&nbsp;
                        <md-icon color="primary" class="fa fa-share fa-lg"></md-icon> -->
                        </div>
                    </div>
                </div>

                &nbsp;
                <button *ngIf="title" color="primary" md-raised-button (click)="save()">Send Contests</button>
            </div>
        </md-tab>
        <md-tab label="History">
            <table *ngIf="hist" mdSort (mdSortChange)="sortData($event)">
                <tbody style="height:260px">
                    <tr>
                        <th md-sort-header="title">Title</th>
                        <!-- <th md-sort-header="location">Location</th> -->
                        <th md-sort-header="publishedby">published By</th>
                        <th md-sort-header="start">Start </th>
                        <th md-sort-header="end">End </th>
                        <th md-sort-header="$key">Datetime </th>
                    </tr>

                    <tr *ngFor="let o of hist |async">
                        <td style="width:100px; word-wrap:break-word;">{{o.title}}</td>
                        <!-- <td>{{o.location}}</td> -->
                        <td>{{o.publishedby}}</td>
                        <td>{{o.start}}</td>
                        <td>{{o.end}}</td>
                        <td>{{getDTString(o.$key)}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Total news: {{(hist | async)?.length}}</th>
                    </tr>
                </tbody>
            </table>
        </md-tab>
    </md-tab-group>
</div>