<div fxLayout="column" fxLayoutAlign="center center">
    <h2 style='color:darkgoldenrod;'>News</h2>
    <div fxHide.xs="true" fxHide.sm="true" *ngFor="let o of allNewsFlyers | async" style="width:500px;border:1px solid darkgray;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button [routerLink]="['/' + (o.location ? 'newsread' : 'flyersread') ,o.$key]" md-button fxLayout="row" style="width:480px;">
            <md-icon *ngIf="!o.location" color="warn"><i style="font-size:20px" class="fa fa-newspaper-o"></i></md-icon>
            <md-icon *ngIf="o.location" color="primary">description</md-icon>
            <span style="font-size:14px">{{o.title.substring(0,30)}}</span>
            <span style="font-size:10px">{{o.location}} ({{o.store}}) {{getDTString(o.$key)}}</span>
            <!-- <md-icon tooltip="Read now" color="warn">visibility</md-icon> -->
            </button>
            <md-icon color="accent">favorite_border</md-icon>{{o.likes}}
            <md-icon color="primary" (click)="more = !more">{{!more ? 'add' : 'remove'}}</md-icon>
        </div>
        <div *ngIf="more">{{o.short}} <button [routerLink]="['/' + (o.location ? 'newsread' : 'flyersread') ,o.$key]" md-button>Show All</button> </div>
    </div>
    <div fxHide.xl="true" fxHide.lg="true" fxHide.md="true" *ngFor="let o of allNewsFlyers | async" style="width:375px;border:1px solid darkgray;">
        <div fxLayout="column" fxLayoutAlign="start start">
            <button [routerLink]="['/' + (o.location ? 'newsread' : 'flyersread') ,o.$key]" md-button fxLayout="row">
            <md-icon *ngIf="!o.location" color="warn"><i style="font-size:20px" class="fa fa-newspaper-o"></i></md-icon>
            <md-icon *ngIf="o.location" color="primary">description</md-icon>
            <span style="font-size:14px">{{o.title.substring(0,30)}}</span>
            </button>
            <div style="font-size:12px" fxLayout="row">
                <span style="width:332px">{{o.location}} ({{o.store}}) {{getDTString(o.$key)}}</span>
                <!-- <md-icon tooltip="Read now" color="warn">visibility</md-icon> -->

                <md-icon style="font-size:14px;width:14px;height:14px" color="accent">favorite_border</md-icon>{{o.likes}}
                <md-icon style="font-size:14px;width:14px;height:14px" color="primary" (click)="more = !more">{{!more ? 'add' : 'remove'}}</md-icon>
            </div>
        </div>
        <div *ngIf="more">{{o.short}} <button [routerLink]="['/' + (o.location ? 'newsread' : 'flyersread') ,o.$key]" md-button>Show All</button> </div>
    </div>
</div>