<!-- <div>
    <mat-radio-group [(ngModel)]="title">
        <mat-radio-button value="'Mr.'">Mr.</mat-radio-button>
        <mat-radio-button value="'Mrs.'">Mrs.</mat-radio-button>
        <mat-radio-button value="'Miss.'">Miss.</mat-radio-button>
        <mat-radio-button value="'Ms.'">Ms.</mat-radio-button>
    </mat-radio-group>
</div> -->
<mat-input-container style="width:120px">
    <input matInput [(ngModel)]="fname" name="fname" placeholder="First Name">
</mat-input-container>
<mat-input-container style="width:120px">
    <input matInput [(ngModel)]="lname" name="lname" placeholder="Last Name">
</mat-input-container>
<mat-input-container style="width:120px">
    <input matInput [(ngModel)]="email" name="email" placeholder="Email">
</mat-input-container>