<div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="flex-item" fxFlex="350px">
        <md-card>
            <md-card-title><span style='color:darkgoldenrod;'> Pro</span></md-card-title>
            <md-card-subtitle>Single Users</md-card-subtitle>
            <md-card-content>
                <p><span style='font-size:12.0pt;
font-family:"verdana";color:"darkolivegreen"'>$20.00/mo </span>
                </p>

            </md-card-content>
            <md-card-actions>
                <md-toolbar>
                    <div class="remaining-space">
                    </div>
                    <div class="remaining-space">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip color="warn" selected="true"> Try </md-chip>
                            <md-chip color="primary" selected="true"> Buy </md-chip>
                        </md-chip-list>
                    </div>
                </md-toolbar>
            </md-card-actions>
            <md-card-footer>
                <div style="padding-left: 15px"> <b> Profesional suite with 25 forms</b> <br> 20 MB of storage</div>
            </md-card-footer>
        </md-card>
    </div>
    <span>&nbsp;</span>
    <div class="flex-item" fxFlex="350px">
        <md-card>
            <md-card-title><span style='color:darkgoldenrod;'> Enterprise</span></md-card-title>
            <md-card-subtitle>15 Users</md-card-subtitle>
            <md-card-content>
                <p><span style='font-size:12.0pt;
font-family:"verdana";color:"darkolivegreen"'>$200.00/mo </span>
                </p>

            </md-card-content>
            <md-card-actions>
                <md-toolbar>
                    <div class="remaining-space">
                    </div>
                    <div class="remaining-space">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip color="warn" selected="true"> Try </md-chip>
                            <md-chip color="primary" selected="true"> Buy </md-chip>
                        </md-chip-list>
                    </div>
                </md-toolbar>
            </md-card-actions>
            <md-card-footer>
                <div style="padding-left: 15px"> <b> Enterprise package with 80 forms</b> <br> 220 MB of storage<br>
                    <b><span style='color:darkorange;'>Workflow feature for daily office automation</span></b></div>
            </md-card-footer>
        </md-card>
    </div>
    <span>&nbsp;</span>
    <div class="flex-item" fxFlex="350px">
        <md-card>
            <md-card-title><span style='color:darkgoldenrod;'> Group</span></md-card-title>
            <md-card-subtitle>200 Users</md-card-subtitle>
            <md-card-content>
                <p><span style='font-size:12.0pt;
font-family:"verdana";color:"darkolivegreen"'>$2000.00/mo </span>
                </p>

            </md-card-content>
            <md-card-actions>
                <md-toolbar>
                    <div class="remaining-space">
                    </div>
                    <div class="remaining-space">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip color="warn" selected="true"> Try </md-chip>
                            <md-chip color="primary" selected="true"> Buy </md-chip>
                        </md-chip-list>
                    </div>
                </md-toolbar>
            </md-card-actions>
            <md-card-footer>
                <div style="padding-left: 15px"> <b>Group package with 1000 forms</b> <br> 3G MB of storage<br>
                    <b><span style='color:darkorange;'>Workflow feature for daily office automation</span></b></div>
            </md-card-footer>
        </md-card>
    </div>

</div>
<md-toolbar>
    <div class="remaining-space">
    </div>
    <div class="remaining-space">
        <button md-raised-button color="primary">START FREE</button>
    </div>
</md-toolbar>
<span>&nbsp;</span>
<div>
    <md-card>
        <md-card-title><span style='color:F2F2F2'> Frequently Asked Questions</span></md-card-title>
        <md-card-content>
            <h3 style='background:#F2F2F2;box-sizing: border-box;
font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;text-align:
start;widows: 2;-webkit-text-stroke-width: 0px;word-spacing:0px'><span style='font-size:11.5pt;font-family:"Corbel",sans-serif;color:#333333'>What
happens to my documents if I do not subscribe after my trial?</span></h3>

            <p style='background:#F2F2F2;box-sizing: border-box;font-variant-ligatures: normal;
font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='font-family:"Lucida Sans",sans-serif;color:#777777'>You
will always have access to your documents whether or not you choose a paid
subscription. Due to the limitations of the Free plan, however, you may not be
able to edit a document if it is beyond 60 objects in complexity.</span></p>

            <h3 style='background:#F2F2F2;box-sizing: border-box;
font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;text-align:
start;widows: 2;-webkit-text-stroke-width: 0px;word-spacing:0px'><span style='font-size:11.5pt;font-family:"Corbel",sans-serif;color:#333333'>Can I
collaborate with others using a personal account?</span></h3>

            <p style='background:#F2F2F2;box-sizing: border-box;font-variant-ligatures: normal;
font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='font-family:"Lucida Sans",sans-serif;color:#777777'>Yes.
Every account level allows you to collaborate and share with others. However,
every collaborator is subject to the limitations of their own account. For
example, users on free accounts will not be able to edit documents with over 60
objects, even if the document is created by a user on a Professional account.
Team accounts allow team members to collaborate with the full set of premium
features.</span></p>

            <h3 style='background:#F2F2F2;box-sizing: border-box;
font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;text-align:
start;widows: 2;-webkit-text-stroke-width: 0px;word-spacing:0px'><span style='font-size:11.5pt;font-family:"Corbel",sans-serif;color:#333333'>Do you
offer special nonprofit and educational pricing?</span></h3>

            <p style='background:#F2F2F2;box-sizing: border-box;
font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;text-align:
start;widows: 2;-webkit-text-stroke-width: 0px;word-spacing:0px'><span style='font-family:"Lucida Sans",sans-serif;color:#777777'>Yes. We offer a
discount on annual team accounts for nonprofits, and free accounts for students
and teachers. Email<span class=apple-converted-space>&nbsp;</span><a href="mailto:sales@lucidchart.com" style='box-sizing: border-box;cursor:pointer'><span
style='color:#29AAE1'>sales@fireform.com</span></a><span class=apple-converted-space>&nbsp;</span>for non-profit inquiries. Visit our<span class=apple-converted-space>&nbsp;</span><a href="https://www.lucidchart.com/pages/usecase/education" style='box-sizing: border-box;
cursor:pointer'><span style='color:#29AAE1'>education page</span></a><span class=apple-converted-space>&nbsp;</span>for educational inquiries.
                </span>
            </p>
        </md-card-content>

    </md-card>

</div>