<div fxLayout="column" [style.height.px]="450" fxLayoutAlign="start center">
    <h2 style='color:darkgoldenrod;'>Members Management</h2>
    <div>
        <table mdSort (mdSortChange)="sortData($event)">
            <tbody style="height:260px">
                <tr>
                    <td md-sort-header="e">Email</td>
                    <td md-sort-header="p">Phone
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </td>
                    <td md-sort-header="b">Points</td>
                    <td md-sort-header="m">Membership</td>
                    <td md-sort-header="me">Expiry</td>
                    <td md-sort-header="l">Last Visit</td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                </tr>
                <tr>
                    <td>
                        <div fxLayout="row"><input style="width:150px" mdInput type="email" (keyup)="change($event, 'e'     ,email     )" [(ngModel)]="email" name="email" placeholder="Email"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div fxLayout="row"><input style="width:85px" mdInput type="tel" (keyup)="change($event, 'p'     ,phone      )" [(ngModel)]="phone" name="phone" placeholder="Phone"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div fxLayout="row"><input style="width:70px" mdInput type="number" (keyup)="change($event, 'b'    ,points    )" [(ngModel)]="points" name="points" placeholder="Points"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div fxLayout="row"><input style="width:70px" mdInput type="text" (keyup)="change($event, 'm',membership)" [(ngModel)]="membership" name="membership" placeholder="Membership"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div fxLayout="row"><input style="width:122px" mdInput type="date" (change)="change($event, 'me'    ,expiry    )" [(ngModel)]="expiry" name="expiry" placeholder="Expiry"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div fxLayout="row"><input style="width:122px" mdInput type="date" (change)="change($event, 'l' ,lastVisit   )" (keyup)="change($event, 'l' ,lastVisit   )" [(ngModel)]="lastVisit" name="lastVisit" placeholder="Last Visit"><i class="fa fa-filter" aria-hidden="true"></i></div>
                    </td>

                </tr>
                <tr *ngFor="let o of data">
                    <td><a [routerLink]="['/hist',o.$key,store]">{{o.$key}}</a></td>
                    <td contenteditable (focus)="onFocus($event)" (focusout)="leave($event,o,'p')">{{o.p}}</td>
                    <td>{{o.b}}</td>
                    <td>{{o.m}}</td>
                    <td>{{rdate(o.me)}}</td>
                    <td>{{rdate(o.l)}}</td>
                    <td>
                        <md-icon mdTooltip="Delete this record" style="color:red;" (click)="delete(o)">clear</md-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-paginator *ngIf="data && length > 0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]" (page)="pageChange($event)">
        </md-paginator>
    </div>
</div>