<div fxLayout="column" [style.height.px]="450" fxLayoutAlign="center center">
    <mat-card-title fxLayout="row" fxLayoutAlign="center"><span style='color:darkgoldenrod;'>About</span></mat-card-title>
    <img src="./assets/trlogo.jpg" alt="Mountain View" style="width:416px;height:175px;">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div><strong color="#10475c">Chris@truerewardscanada.com</strong></div>
        <div> President / Director of Sales &amp; Marketing
        </div>
        <div><strong color="#10475c">David@truerewardscanada.com</strong></div>
        <div> Director of Information Technology
        </div>
    </div>
</div>