<div>
    <p align=center>
        <b><span style='font-size:54.0pt;font-family:"Lucida Console",sans-serif;
color:#49414E;text-transform:uppercase'>FORMS </span></b><br>
        <b><span style='font-size:54.0pt;font-family:"Lucida Console",sans-serif;
color:#49414E;text-transform:uppercase'>DONE RIGHT</span></b><br>
        <b><span style='font-size:54.0pt;font-family:"Lucida Console",sans-serif;
color:#49414E;text-transform:uppercase'>SAVE RIGHT</span></b><br>
        <b><span style='font-size:54.0pt;font-family:"Lucida Console",sans-serif;
color:#49414E;text-transform:uppercase'>Flow RIGHT</span></b>
    </p>
</div>
<div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flex-item" fxFlex="40%">
        <md-card>
            <md-card-title><span style='color:darkgoldenrod;'> Our form maker works the way you love.</span></md-card-title>
            <md-card-content>
                <p><span style='font-size:12.0pt;
font-family:"verdana";color:"darkolivegreen"'>Our online forms application makes it easy
to sketch and share professional forms.&nbsp;<br>
From medication sign in to government application management, we support all of
your paper work and record archive needs.&nbsp;<br>
That’s why millions of users choose Fire Form.</span></p>

            </md-card-content>
            <md-card-actions>
                <md-toolbar>
                    <div class="remaining-space">
                    </div>
                    <div class="remaining-space">
                        <button md-raised-button color="primary">START FORMS ONLINE</button>
                    </div>
                </md-toolbar>
            </md-card-actions>
        </md-card>
    </div>

    <div class="flex-item" fxFlex="40%">
        <md-card>
            <md-card-title><span style='color:darkgoldenrod;'> New Generation Forms</span></md-card-title>

            <md-card-content>
                <p align=center><span style='font-size:30.0pt;
font-family:"verdana";color:"darkolivegreen"'>Agile Workflow Toolkits <br>Makes Your Business <br>Easier</span> </p>

            </md-card-content>
        </md-card>
    </div>
</div>