<button [mdMenuTriggerFor]="menu" style="background-color:#3949ab;color:#e8eaf6; top:8px;right:8px;position:absolute;z-index: 9999" color="" md-mini-fab fxShow fxHide.xl="true" fxHide.lg="true" fxHide.md="true"><md-icon>menu</md-icon></button>
<md-toolbar style="background-color:#9fa8da" fxShow fxHide.xs="true" fxHide.sm="true" class="mat-elevation-z5" color="">
    <div [style.color]="'darkgoldenrod'">
        <i [style.color]="'darkgoldenrod'" class="material-icons">card_giftcard</i> ExReward
    </div>
    <span style="flex: 1 1 auto;color:#283593;font-size:14px;" xLayout="row" fxLayoutAlign="center center">{{(isLoggedin && membername) ? 'Welcome ' + membername: ''}}</span>
    <div flex fxLayout="row" fxLayoutAlign="end center">
        <div>
            <button fxLayout="row" fxLayoutAlign="start center" md-menu-item [routerLink]="['/home']">
          <md-icon style="color:#3949ab">home</md-icon>
          <span>Home</span>
          </button></div>
        <div fxLayout="row"><button md-menu-item [routerLink]="['/news']">
          <md-icon style="color:red">description</md-icon>
          <span>News & Flyers</span>
          <a *ngIf="newsNewCount" color="warn" md-mini-fab style="width:20px;height:20px;line-height:20px;font-size:10px">{{newsNewCount}}</a>
          </button></div>
        <div fxLayout="row"><button md-menu-item [routerLink]="['/contests']">
            <md-icon style="color:gold">picture_in_picture</md-icon>
            <span>Contests & Coupons</span>
            </button></div>
        <!-- <div><button md-menu-item [mdMenuTriggerFor]="servicemenu" fxLayout="row" fxLayoutAlign="start center">
          <md-icon style="color:green;">pan_tool</md-icon>
          Service
        </button>
        </div> -->
        <!-- <div><button md-menu-item [mdMenuTriggerFor]="kidsmenu" fxLayout="row" fxLayoutAlign="start center">
          <md-icon style="color:#e91e63;">child_care</md-icon>
          Kids
        </button>
        </div> -->
        <div><button md-menu-item [routerLink]="['/myhist']">
          <md-icon style="color:#3949ab">history</md-icon>
          <span>Stores</span>
          </button></div>
        <div><button md-menu-item [routerLink]="['/myprofile']">
            <md-icon style="color:#5c6bc0">account_circle</md-icon>
            <span>Profile</span>
            </button></div>
        <div><button md-menu-item [routerLink]="['/about']">
          <md-icon style="color:#3f51b5">info</md-icon>
          About
        </button></div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <md-icon color="{{!isLoggedin ? 'warn' : 'primary' }}">{{!isLoggedin ? 'lock_open' : 'lock_outline' }}</md-icon>
            <button *ngIf="!isLoggedin; else logoutbtn2" md-menu-item [routerLink]="['/login']">
          {{!isLoggedin ? 'Login' : 'Logout' }}
          </button>
            <ng-template #logoutbtn2>
                <button md-menu-item (click)="logout()">
               {{!isLoggedin ? 'Login' : 'Logout' }}
              </button>
            </ng-template>
        </div>
    </div>
</md-toolbar>
<md-menu #servicemenu="mdMenu">
    <button md-menu-item [routerLink]="['/moving']">
<md-icon style="color:blue">local_shipping</md-icon>
<span>Moving</span>
</button>
    <button md-menu-item [routerLink]="['/roofing']">
<md-icon style="color:#6d4c41">keyboard_arrow_up</md-icon>
<span>Roofing</span>
</button>
    <button md-menu-item [routerLink]="['/plumbing']">
<md-icon style="color:black">build</md-icon>
<span>Plumbing</span>
</button>
    <button md-menu-item [routerLink]="['/carpet']">
<md-icon style="color:green">select_all</md-icon>
<span>Carpets Cleaning</span>
</button>
    <button md-menu-item [routerLink]="['/duct']">
<md-icon style="color:#b71c1c">delete_sweep</md-icon>
<span>Duct Cleaning</span>
</button>
    <button md-menu-item [routerLink]="['/renovations']">
<md-icon style="color:blue">home</md-icon>
<span>Renovations</span>
</button>
    <button md-menu-item [routerLink]="['/concrete']">
<md-icon style="color:#757575">crop_square</md-icon>
<span>Concrete</span>
</button>
</md-menu>
<md-menu #kidsmenu="mdMenu">
    <button md-menu-item [routerLink]="['/nanny']">
<md-icon style="color:#e91e63">child_friendly</md-icon>
<span>Nanny</span>
</button>
    <button md-menu-item [routerLink]="['/lessons']">
<md-icon style="color:green">class</md-icon>
<span>Lessons</span>
</button>
</md-menu>
<md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/home']">
      <md-icon style="color:#3949ab">home</md-icon>
      <span>Home</span>
    </button>
    <button md-menu-item [routerLink]="['/news']">
    <md-icon style="color:red">description</md-icon>
    <span>News</span>
    <a *ngIf="newsNewCount" color="warn" md-mini-fab style="width:20px;height:20px;line-height:20px;font-size:10px">{{newsNewCount}}</a>
  </button>
    <!-- <button md-menu-item [mdMenuTriggerFor]="servicemenu" fxLayout="row" fxLayoutAlign="start center">
    <md-icon style="color:#757575;">pan_tool</md-icon>
    Service
  </button> -->
    <!-- <button md-menu-item [mdMenuTriggerFor]="kidsmenu" fxLayout="row" fxLayoutAlign="start center">
    <md-icon style="color:#757575;">child_care</md-icon>
    Kids
  </button> -->
    <button md-menu-item [routerLink]="['/myhist']">
    <md-icon style="color:#3949ab">history</md-icon>
    <span>Stores</span>
  </button>
    <button md-menu-item [routerLink]="['/myprofile']">
    <md-icon style="color:#5c6bc0">account_circle</md-icon>
    <span>Profile</span>
  </button>
    <button md-menu-item [routerLink]="['/about']">
    <md-icon style="color:#3f51b5">info</md-icon>
    <span>About</span>
  </button>
    <button *ngIf="!isLoggedin" md-menu-item [routerLink]="['/login']">
    <md-icon style="color:red">{{!isLoggedin ? 'lock_open' : 'lock_outline' }}</md-icon>
    <span>{{!isLoggedin ? 'Login' : 'Logout' }}</span>
  </button>
    <button *ngIf="isLoggedin" md-menu-item (click)="logout()">
    <md-icon style="color:blue">{{!isLoggedin ? 'lock_open' : 'lock_outline' }}</md-icon>
    <span>{{!isLoggedin ? 'Login' : 'Logout' }}</span>
  </button>
</md-menu>

<router-outlet></router-outlet>