<div fxLayout="row" fxLayoutAlign="left start">
    <div fxLayout="column" style='padding:0px; margin:4px;box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);' fxLayoutAlign="left start">
        <md-select floatPlaceholder="never" placeholder="Select form" [(ngModel)]="formname" (change)="selectFormWithName(formname)" name="food">
            <md-option *ngFor="let d of fireforms | async" [value]="d.name">
                {{d.name}}
            </md-option>
        </md-select>
        <md-checkbox [(ngModel)]="needsignature">Need signature?</md-checkbox>
    </div>

    <md-radio-group style='padding:6px; margin:4px;box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);' [(ngModel)]="typename" name="mfg1">
        <md-radio-button value='Journal'>Journal</md-radio-button><br/>
        <md-radio-button value='PerPerson'>Per Person</md-radio-button>
    </md-radio-group>

    <!--{{typename}}{{typename === 'PerPerson'}}-->
    <!--<input class="radio-inline" type="radio" name="formtype" [(ngModel)]="typename" value="Journal" (click)="setFormType('Journal')">Journal
    <input class="radio-inline" type="radio" name="formtype" [(ngModel)]="typename" value="PerPerson" (click)="setFormType('PerPerson')">Per Person-->

    <md-radio-group style='padding:6px; margin:4px;box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);' [(ngModel)]="persontypename" *ngIf="typename === 'PerPerson'">
        <md-radio-button value="Email">Identify by Email</md-radio-button><br/>
        <md-radio-button value="Phone">Identify by Phone</md-radio-button>
    </md-radio-group>

    <div fxLayout="column" style='padding:3px; margin:4px;box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);' fxLayoutAlign="left start">
        <md-checkbox [(ngModel)]="needpassword">Password Protection?</md-checkbox>
        <input *ngIf="needpassword" class="form-control" [(ngModel)]="password" placeholder="Form password">
    </div>

</div>
<button class="btn btn-primary-outline btn-sm" (click)="saveForm()">Save Form</button>
<div *ngIf="confirm">
    <label [style.color]="'red'"> Are you sure to save empty template?</label>
    <button md-button [style.color]="'red'" class="btn btn-primary-outline btn-sm" (click)="saveFormYes()">Yes</button>
    <button md-button [style.color]="'green'" class="btn btn-primary-outline btn-sm" (click)="confirm=false;">No</button>
</div>
<button class="btn btn-primary-outline btn-sm" (click)="signow = true;">Insert Signature</button>
<div *ngIf="signow">
    <input class="form-control" [(ngModel)]="sigName" placeholder="Signature Name">
    <button md-button [style.color]="'red'" class="btn btn-primary-outline btn-sm" (click)="insertSignature(sigName);signow = false;">Insert</button>
    <button md-button [style.color]="'green'" class="btn btn-primary-outline btn-sm" (click)="signow=false;">Cancel</button>
</div>
<ckeditor [(ngModel)]="content" #ckeditor [config]="{allowedContent: true, extraAllowedContent : '*[*]' , height : 720, entities : false, extraPlugins: 'divarea'}" debounce="500">
    <p>Hello <strong>world</strong></p>
</ckeditor>