<div fxLayout="column" fxLayoutAlign="center center">
    <h2 style='color:darkgoldenrod;'>My Profile</h2>
    <div fxLayout="column" fxLayoutAlign="center start">
        <div>
            <md-input-container>
                <input mdInput [(ngModel)]="fname" name="fname" placeholder="First Name">
            </md-input-container>
            <md-input-container>
                <input mdInput [(ngModel)]="lname" name="lname" placeholder="Last Name">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input [disabled]="true" mdInput [(ngModel)]="email" name="email" placeholder="">
            </md-input-container>
            <md-input-container>
                <input mdInput [(ngModel)]="phone" name="phone" placeholder="">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input style="width:194px" type="date" mdInput [(ngModel)]="birthday" name="birthday" placeholder="Enter birthday to get gift">
            </md-input-container>
            <md-input-container>
                <input style="width:194px" type="date" mdInput [(ngModel)]="anniversary" name="anniversary" placeholder="Enter anniversary to get gift">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input style="width:194px" mdInput [(ngModel)]="city" name="city" placeholder="Current City">
            </md-input-container>
            <button style="width:180px;height:35px" color="primary" md-raised-button (click)="save()">Save</button> <span *ngIf='errmsg' [style.color]="'red'"> {{errmsg}}</span>

        </div>
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div *ngFor="let o of myCats | async">
                    <md-checkbox [(ngModel)]="o.s" (change)="leave($event,o)">{{o.$key}}</md-checkbox>
                    &nbsp;</div>
            </div>
            <md-checkbox [(ngModel)]="isCheckAll" (change)="checkAll($event,isCheckAll)">{{isCheckAll ? 'Uncheck All' : 'Check All'}}</md-checkbox>
        </div>
    </div>
</div>