<mat-toolbar fxShow fxHide.xl="true" fxHide.lg="true" fxHide.md="true">
    <div>
        <button mat-button (click)="status = !status; sidenav.open(); " mat-icon-button><mat-icon style="color:gray">menu</mat-icon></button> &ngsp;
        <button mat-button [routerLink]="['']"> <img src="../../assets/uniway.png" height="24px" style="opacity: 1.0;filter: alpha(opacity=50);"> &ngsp;
              UniwayShop</button>
    </div>
    <span style="flex: 1 1 auto;color:#283593" xLayout="row" fxLayoutAlign="center center">{{(isLoggedin && employeeO) ? employeeO.id: ''}}</span>
    <div flex fxLayout="row" fxLayoutAlign="end center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button *ngIf="!isLoggedin; else logoutbtn2" [routerLink]="['/login']">
                {{!isLoggedin ? 'Sign In' : 'Sign Out' }}
                </button>
            <ng-template #logoutbtn2>
                <button mat-button (click)="logout()">
             {{!isLoggedin ? 'Sign In' : 'Sign Out' }}
            </button>
            </ng-template>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button [routerLink]="['/quote/false']">Checkout</button> </div>
    </div>
</mat-toolbar>

<mat-toolbar fxShow fxHide.xs="true" fxHide.sm="true">
    <div>
        <button (click)="status = !status; sidenav.open(); " mat-icon-button><mat-icon style="color:gray">menu</mat-icon></button> &ngsp;
        <button mat-button [routerLink]="['']"> <img src="../../assets/uniway.png" height="24px" style="opacity: 1.0;filter: alpha(opacity=50);"> &ngsp;
          UniwayShop</button>
    </div>
    <span style="flex: 1 1 auto;color:#283593" xLayout="row" fxLayoutAlign="center center">{{(isLoggedin && employeeO) ? 'Welcome ' + employeeO.id: ''}}</span>
    <div flex fxLayout="row" fxLayoutAlign="end center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button [routerLink]="['/services']">Store Locations</button> </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button [routerLink]="['/quote/false']">Contact Us</button> </div>
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-raised-button *ngIf="!isLoggedin; else logoutbtn2" [routerLink]="['/login']">
          {{!isLoggedin ? 'Sign In' : 'Sign Out' }}
          </button>
            <ng-template #logoutbtn2>
                <button mat-raised-button (click)="logout()">
               {{!isLoggedin ? 'Sign In' : 'Sign Out' }}
              </button>
            </ng-template>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button [routerLink]="['/quote/false']">Checkout</button> </div>
    </div>
</mat-toolbar>
<mat-sidenav-container style="min-height:600px">
    <mat-sidenav #sidenav>
        <mat-expansion-panel [expanded]="menulevel === 0" (opened)="menulevel = 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Store
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/quote/false']"> <mat-icon>home</mat-icon><span>POS</span></button>
                </a>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/quote/true']"><mat-icon>business</mat-icon><span>Return</span></button>
                </a>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/mystatus']"><mat-icon color="primary">track_changes</mat-icon><span>Repair</span></button>
                </a>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/mystatus']"><mat-icon color="primary">track_changes</mat-icon><span>Transaction</span></button>
                </a>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/mystatus']"><mat-icon color="primary">track_changes</mat-icon><span>Add Member</span></button>
                </a>
                <a mat-list-item>
                    <button mat-button [routerLink]="['/mystatus']"><mat-icon color="primary">track_changes</mat-icon><span>Members</span></button>
                </a>

                <a mat-list-item>
                    <button mat-button [routerLink]="['/mysetting']">         
                      <mat-icon>settings</mat-icon>                                        
                      <span>My Setting</span>
                   </button>
                </a>
            </mat-list>

        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="menulevel === 1" (opened)="menulevel = 1">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Management
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>

                <a mat-list-item>
                    <mat-icon>group_add</mat-icon>
                    <button mat-button [routerLink]="['/join']">                          
                              <span>Warehouse Entry</span>
                           </button>
                </a>
                <a mat-list-item>
                    <mat-icon>list</mat-icon>
                    <button mat-button [routerLink]="['/jobs']">                          
                      <span>Internal transfer</span>
                   </button>
                </a>
                <a mat-list-item>
                    <mat-icon>schedule</mat-icon>
                    <button mat-button [routerLink]="['/schedule']">                          
                      <span>inventory counting</span>
                   </button>
                </a>

            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Head Office
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <!-- <a mat-list-item>
                  <mat-icon color="{{!isLoggedin ? 'warn' : 'primary' }}">{{!isLoggedin ? 'lock_open' : 'lock_outline' }}</mat-icon>
                  <button mat-button [routerLink]="['/signin']">                          
                      <span>Sign In</span>
                   </button>
              </a> -->

                <a mat-list-item>
                    <mat-icon>check_circle</mat-icon>
                    <button mat-button [routerLink]="['/why']">                          
                      <span>Employee</span>
                   </button>
                </a>
                <a mat-list-item>
                    <mat-icon>assessment</mat-icon>
                    <button mat-button [routerLink]="['/reports']">                          
                    <span>Reports</span>
                 </button>
                </a>
                <a mat-list-item>
                    <mat-icon>contact_mail</mat-icon>
                    <button mat-button [routerLink]="['/contact']">                          
                      <span>Branch</span>
                   </button>
                </a>
                <a mat-list-item>
                    <mat-icon>people_outline</mat-icon>
                    <button mat-button [routerLink]="['/joined']">                          
                      <span>Store Setting</span>
                   </button>
                </a>
            </mat-list>
        </mat-expansion-panel>


    </mat-sidenav>

    <div>

        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>